@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-roboto: "Roboto", sans-serif;
  --primary: #004cdf;
  --midnight-blue: #0B1F3A;

    --breakpoint-xs: 320px;
  --breakpoint-sm: 574px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --color-primary: var(--primary);
  --color-midnight-blue: var(--midnight-blue);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
}
